* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #141414;
    
    
}
.cabeca{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;

    height: 100%;
}

.foto{
    width: 30px;
    height: 50px;   
    padding-right: 1px;
}
.html{
    margin-top: 20%;
}
.tecnologias{
    color: whitesmoke;
    font-size: 30px;
}
.canva{
    height: 150px;
    padding: 3px;
}

